/* This file is linked to every app page because it is set in `nuxt.config.json` `css` property (https://nuxt.com/docs/4.x/api/nuxt-config#css) */

:root {
	/*--main-font-family: 'Badeen Display';*/
	/* This font variable would not works, because nuxt/fonts does not know how to precess this */
	--this-is-demo-for-fonts-page: Zain;

	/* But it will work if you do this. First we set font family with desired fornt name, which leads for font to be processed and loaded. 
	In the second line we used the same name to set it to variable and in the next oine we rever the font back to default;
	Of course you can do as many pairs a you want. */
	font-family: Zain;
	--body-text-font-family: Zain;
	font-family: none;

	/* This should work without the trick above. If config's `font.processCSSVariables` is set to `font-prefixed-only` which is a default value. 
	  Variable should be prefixed with `font-`*/
	--font-main: Clash Display;
}

.main-css-font {
	/* This font variable would not works, because nuxt/fonts does not know how to precess this. This would work with Tailwind 4 (see nuxt/fonts docs) */
	font-family: var(--this-is-demo-for-fonts-page);
	color: red;
}

.body-text {
	/* This font variable would not works, because nuxt/fonts does not know how to precess this. This would work with Tailwind 4 (see nuxt/fonts docs) */
	font-family: var(--body-text-font-family);
}

body {
	background-color: aliceblue;
}